<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tick_task</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Mr9+agar</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">true</property>

        <!-- Aquí registras tu entidad -->
        <mapping class="tick_task.Usuarios"/>
        <mapping class="tick_task.ProyectosHibernate"/>
        <mapping class="tick_task.TareasHibernate"/>
    </session-factory>
</hibernate-configuration>
